ErrorDocument 404 /404.html
Redirect 301 /bookings.html /index.html#tickets
Redirect 301 /about_ags.html /index.html#about
Redirect 301 /contact_ags.html /index.html#contact
Redirect 301 /links.html /index.html#links
Redirect 301 /forum /index.html#contact
Redirect 301 /photos.html /index.html#contact
Redirect 301 /privacy.html /index.html#privacy
