.pageHistory-section-title,
.pageHistory-section-void1,
.pageHistory-section-void2,
.pageHistory-section-void3 {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.pageHistory-section-early,
.pageHistory-section-early2,
.pageHistory-section-fire,
.pageHistory-section-shows {
    position: relative;
    background: linear-gradient(#171717, #212123, #171717);
    min-height: 450px;
    padding: 30px;
    box-sizing: border-box;
}
.pageHistory-section-title-container {
    position: relative;
}
.pageHistory-anchor {
    position: absolute;
    top: -80px;
}
.pageHistory-caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(21,21,23,0.7);
    height: auto;
    border-radius: 5px;

    padding: 0.3rem;
    font-size: 1rem;
    color: darkgray;

    position: absolute;
    bottom: 10px;
    right: 5px;
}

/*-------------------------------------
Section Sizing
---------------------------------------*/

/* Group 1 */
.pageHistory-backdrop-title {
    height: 100%;
}
.pageHistory-section-title {
    height: 90vh;
    top: -90vh;
}
.pageHistory-section-early {
    height: auto;
    margin-top: 90vh;
}

/* Group 2 */
.pageHistory-backdrop-void1 {
    height: 100%;
}
.pageHistory-section-void1 {
    height: 25rem;
    top: -25rem;
}
.pageHistory-section-early2 {
    height: auto;
    margin-top: 25rem;
}

/* Group 3 */
.pageHistory-backdrop-void2 {
    height: 100%;
}
.pageHistory-section-void2 {
    height: 25rem;
    top: -25rem;
}
.pageHistory-section-fire {
    height: auto;
    margin-top: 25rem;
}

/* Group 4 */
.pageHistory-backdrop-void3 {
    height: 100%;
}
.pageHistory-section-void3 {
    height: 25rem;
    top: -25rem;
}
.pageHistory-section-shows {
    height: auto;
    margin-top: 25rem;
}

/*-------------------------------------
Section Code
---------------------------------------*/

/* Title */
.pageHistory-section-title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHistory-section-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(21,21,23,0.7);
    height: auto;
    border-radius: 50px;
    padding: 30px;
    width: 70%;
}
.pageHistory-section-title-container h2 {
    align-self: center;
    font-size: 3rem;
}
.pageHistory-section-title-container p {
    text-align: center;
}

/* Shows */
#pageHistory-section-shows-pinned {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}
.pageHistory-section-shows-pinned-heading {
    position: absolute;
    top: -2rem;
    left: -3rem;
    font-size: 2rem;
}
#pageHistory-section-shows-pinned .pageHistory-section-shows-item-title {
    font-size: 1.25rem;
}
#pageHistory-section-shows-pinned .pageHistory-section-shows-item-year {
    font-size: 1rem;
}
#pageHistory-section-shows-pinned .pageHistory-section-shows-item-poster {
    height: 20rem;
}
.pageHistory-section-shows-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1rem 1.5rem 0 1.5rem;
    cursor: pointer;
}
.pageHistory-section-shows-item:hover {
    filter: brightness(120%);
}
.pageHistory-section-shows-item-poster {
    height: 15rem;
}
#pageHistory-section-shows-grid .pageHistory-section-shows-item-poster {
    max-width: 10.9375rem;
}
.pageHistory-section-shows-item-title {
    margin: 0;
    align-self: center;
    font-size: 1rem;
    text-align: center;
}
.pageHistory-section-shows-item-year {
    margin: 0;
    align-self: center;
    font-size: 0.8rem;
    text-align: center;
    color: grey;
}
#pageHistory-section-shows-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.9375rem, 1fr));
    width: 100%;
    padding-top: 1rem;
}
@media (max-width: 1100px) {
    .pageHistory-section-shows-pinned-heading {
        font-size: 1.5rem;
        left: -2rem;
    }
    #pageHistory-section-shows-pinned .pageHistory-section-shows-item-title {
        font-size: 1rem;
    }
    #pageHistory-section-shows-pinned .pageHistory-section-shows-item-year {
        font-size: 0.75rem;
    }
    @media (max-width: 700px) {
        .pageHistory-section-shows-pinned-heading {
            left: -1.5rem;
        }
        #pageHistory-section-shows-pinned .pageHistory-section-shows-item-poster {
            height: 15rem;
        }
        @media (max-width: 500px) {
            #pageHistory-section-shows-pinned {
                flex-direction: column;
            }
            #pageHistory-section-shows-pinned .pageHistory-section-shows-item {
                padding-bottom: 2.5rem;
            }
            .pageHistory-section-shows-item-poster {
                height: 12rem;
            }
        }
    }
}

.pageHistory-section-shows-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.15s;
}
.pageHistory-section-shows-popup-cover {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 254;
    backdrop-filter: blur(2px);
}
.pageHistory-section-shows-popup-content {
    z-index: 255;
    width: 56rem;
    max-width: 90vw;
    background-color: rgba(21,21,23,0.7);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pageHistory-section-shows-popup-close {
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;
    color: red;
}
.pageHistory-section-shows-popup-content-poster {
    width: 45%;
}
.pageHistory-section-shows-popup-content-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.pageHistory-section-shows-popup-content-title {
    color: red;
    font-size: 2rem;
    display: flex;
}
.pageHistory-section-shows-popup-content-dvd {
    position: relative;
    margin-left: 0.5rem;
}
.pageHistory-section-shows-popup-content-dvd-icon {
    height: 1.6rem;
}
.pageHistory-section-shows-popup-content-dvd-label {
    position: absolute;
    font-size: 0.7rem;
    top: -0.8rem;
    left: -3.3rem;
    color: white;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.pageHistory-section-shows-popup-content-dvd:hover .pageHistory-section-shows-popup-content-dvd-label {
    opacity: 100;
}
.pageHistory-section-shows-popup-content-year {
    margin: 0;
    font-size: 1.2rem;
    color: grey;
    align-self: start;
}
.pageHistory-section-shows-popup-content-description {
    margin: 0;
    font-size: 1.3rem;
    color: darkgrey;
    align-self: start;
    line-height: 1.5rem;
}
.pageHistory-section-shows-popup-content-tickets {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 13.75rem;
    height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;
    margin-top: 1rem;

    color: white;
    border: solid #af2d24 5px;
}
.pageHistory-section-shows-popup-content-tickets:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;;
}
@media (max-width: 650px) {
    .pageHistory-section-shows-popup-content {
        flex-direction: column;
        width: 90%;
        justify-content: normal;
    }
    .pageHistory-section-shows-popup-content-poster {
        width: 60%;
    }
    .pageHistory-section-shows-popup-content-info {
        width: 100%;
        align-items: center;
    }
    .pageHistory-section-shows-popup-content-title {
        font-size: 1.5rem;
        align-self: center;
        text-align: center;
    }
    .pageHistory-section-shows-popup-content-dvd-icon {
        height: 1.3rem;
    }
    .pageHistory-section-shows-popup-content-year {
        font-size: 1rem;
        align-self: center;
        text-align: center;
    }
    .pageHistory-section-shows-popup-content-description {
        font-size: 1.2rem;
        align-self: center;
        text-align: center;
        line-height: 1.4rem;
    }
}