.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
}
.backdrop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    width: calc(100% + 10px);
    object-fit: cover;
    z-index: -1;
}
.mid-drop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-2.25px) scale(1.25);
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}

/* Backdrop Images*/
.pageHome-backdrop-billboard {
    background-image: url("/assets/images/pageHome/poster/backdrop.png");
    filter: brightness(75%);
}
.pageHome-backdrop-posters {
    background-image: url("/assets/images/backdrops/pageHome-posters.webp");
    filter: blur(1px) brightness(80%);
}
.pageHome-backdrop-tickets {
    background-image: url("/assets/images/backdrops/pageHome-tickets.webp");
    filter: blur(1px) brightness(80%);
}
.pageHome-backdrop-join {
    background-image: url("/assets/images/backdrops/pageHome-join.webp");
    filter: blur(1px);
}
.pageHome-backdrop-local_groups {
    background-image: url("/assets/images/backdrops/pageHome-local_groups.webp");
    filter: blur(1px);
}
.pageHome-backdrop-void {
    background-image: url("/assets/images/backdrops/pageHome-void.webp");
}
.pageHome-backdrop-crew {
    background-image: url("/assets/images/backdrops/pageHome-crew.webp");
    filter: blur(1px);
}
.pageMembers-backdrop-billboard {
    background-image: url("/assets/images/backdrops/pageMembers-billboard.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-title {
    background-image: url("/assets/images/backdrops/pageHistory-title.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void1 {
    background-image: url("/assets/images/backdrops/pageHistory-void1.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void2 {
    background-image: url("/assets/images/backdrops/pageHistory-void2.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void3 {
    background-image: url("/assets/images/backdrops/pageHistory-void3.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void4 {
    background-image: url("/assets/images/backdrops/pageHistory-void4.webp");
    filter: brightness(80%);
}