#header {
    top: 0;
    right: 0;
    left: 0;
    height: 70px;
    padding: 0 20px;
    position: fixed;
    z-index: 100;

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(11, 11, 11, 0.75);
    margin-right: 10px;
    transition: height 0.4s, opacity 0.4s;
}
#header .extender {
    /* Usually the header blocks the scrollbar, not allowing the user to interact with it.
    This allows the header to visually continue along the page, whilst allowing interaction
    with the scrollbar beneath*/
    height: 70px;
    width: 10px;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(11, 11, 11, 0.75);
    pointer-events: none;
}
#header .branding {
    display: flex;
    align-items: center;
    text-decoration: none;
}
#header .branding img {
    height: 60px;
    padding: 5px;
}
#header h1 {
    padding: 0 20px;
    color: red;
    font-family: Grinched, 'Fira Sans', Arial, sans-serif;;
}

/* Navbar */
#navbar {
    list-style: none;
    display: flex;
    transition: width 0.2s;
}
#navbar a {
    color: red;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    transition: font-size 0.2s;
}
#navbar a:hover {
    text-decoration: underline;
    font-size: 1.125rem;
}

/* Cascade */
#cascade-toggle {
    display: none;
}
#header .cascade-outside {
    display: none;
}

/* Mobile Mode */
@media (max-width: 480px) {
    #header h1 {
        display: none;
    }
}
@media (max-width: 767px) {
    #header {
        flex-direction: column;
        margin-right: 0;
    }
    #header .branding {
        z-index: 100;
    }
    #header .extender {
        display: none;
    }

    #navbar {
        position: absolute;
        top: 4.375rem;
        flex-direction: column;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
        background-color: rgba(11, 11, 11, 0.75);
        height: 360px;
        justify-content: space-between;
    }
    #cascade-toggle:checked ~ #navbar {
        max-height: 1000px;
    }
    #navbar a {
        width: 100%;
        padding: 20px 0;
        text-align: center;
        z-index: 100;
    }

    #header .cascade-graphic {
        cursor: pointer;
        display: flex;
        justify-content: center;
        padding: 33px 23px;
        top: 0;
        right: 0;
        position: absolute;
    }
    #header .cascade-midbar,
    #header .cascade-midbar:before,
    #header .cascade-midbar:after {
        background: #af2d24;
        display: block;
        height: 3px;
        width: 24px;
    }
    #header .cascade-midbar:before,
    #header .cascade-midbar:after {
        content: "";
        position: absolute;
        transition: all 0.2s ease-out;
    }
    #header .cascade-midbar {
        position: relative;
        transition: background 0.2s ease-out;
    }
    #header .cascade-midbar:before {
        top: 8px;
    }
    #header .cascade-midbar:after {
        top: -8px;
    }
    #cascade-toggle:checked ~ .cascade-graphic .cascade-midbar {
        background: transparent;
    }
    #cascade-toggle:checked ~ .cascade-graphic .cascade-midbar:before {
        transform: rotate(-45deg);
        top: 0;
    }
    #cascade-toggle:checked ~ .cascade-graphic .cascade-midbar:after {
        transform: rotate(45deg);
        top: 0;
    }
    #cascade-toggle:checked ~ .cascade-outside {
        display: block;
        position: fixed;
        inset: 0;
        z-index: 1;
    }
}
/* Desktop Mode */
@media (min-width: 768px) {
    #navbar {
        justify-content: space-between;
        align-items: center;
    }
    #navbar a {
        padding: 20px;
    }
    #header .cascade-graphic {
        display: none;
    }

    /* Header Spacing Adjustments */
    @media (max-width: 1023px) {
        #header h1 {
            display: none;
        }
        #navbar {
            width: 85%;
        }
    }
    @media (min-width: 1024px) {
        #navbar {
            width: 70%;
        }
    }
    @media (max-width: 1200px) {
        #header h1 {
            font-size: 1.5rem;
        }
    }
}

#footer {
    height: auto;
    background: #111111;
    width: 100%;
    z-index: 100;
    position: relative;
    box-shadow: 0 0 10px #af2d24;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#footer .crate-images {
    width: 20%;
    display: flex;
    justify-content: center;
}
#footer .crate-images a img {
    width: 7rem
}
#footer .crate-text {
    width: 70%;
}
#footer .crate-text h2 {
    font-size: 1.75rem;
}
#footer .crate-text p {
    font-size: 1rem;
}
.footer-version {
    position: absolute;
    bottom: 0.125rem;
    left: 0.125rem;
    margin: 0;
    font-size: 0.75rem;
    color: #676767;
}
.footer-copyright {
    position: absolute;
    bottom: 1.125rem;
    right: 0.125rem;
    margin: 0;
    font-size: 0.75rem;
    color: #676767;
}
.footer-credit {
    position: absolute;
    bottom: 0.125rem;
    right: 0.125rem;
    padding: 0.125rem;
    margin: 0;
    font-size: 0.75rem;
    color: #676767;
}
.footer-credit a {
    color: #676767;
    text-decoration: none;
    font-family: 'Heebo', Arial, sans-serif;
}
.footer-credit a:hover {
    color: gray;
    text-decoration: underline;
}
@media (max-width: 1024px) {
    #footer .crate-text {
        width: 60%;
    }
    #footer .crate-text h2 {
        font-size: 1rem;
    }
    #footer .crate-text p {
        font-size: 0.75rem;
    }
    #footer .crate-images {
        width: 30%;
    }
    #footer .crate-images a img {
        width: 6rem;
    }
    @media (max-width: 767px) {
        #footer {
            flex-direction: column;
        }
        #footer .crate-images {
            width: 100%;
            order: 2;
            margin-bottom: 1.6rem;
        }
        #footer .crate-images a img {
            width: 5rem;
        }
        #footer .crate-text {
            width: 95%;
        }
    }
}