/* Fonts */
@font-face {
    font-family: YouMurderer;
    src: url("/assets/fonts/youmurdererbb_reg.ttf");
}
@font-face {
    font-family: MurderousDesire;
    src: url("/assets/fonts/murderous_desire_DEMO.otf");
}
@font-face {
    font-family: Grinched;
    src: url("/assets/fonts/Grinched.ttf");
}
@font-face {
    font-family: PowerRangers;
    src: url("/assets/fonts/Power_Rangers.ttf");
}
@font-face {
    font-family: Lovable;
    src: url("/assets/fonts/FontdinerdotcomLuvable.ttf");
}
@font-face {
    font-family: Secrets;
    src: url("/assets/fonts/secrets.ttf");
}
@font-face {
    font-family: Evil;
    src: url("/assets/fonts/puree____2.ttf");
}
@font-face {
    font-family: WhoopAss;
    src: url("/assets/fonts/WHOOPASS.TTF");
}
@font-face {
    font-family: Ficticcia;
    src: url("/assets/fonts/Ficticcia_College.otf");
}
@font-face {
    font-family: Eraser;
    src: url("/assets/fonts/EraserDust_0.ttf");
}
@font-face {
    font-family: Mistery;
    src: url("/assets/fonts/Mistery.otf");
}@font-face {
    font-family: RockBoulder;
    src: url("/assets/fonts/RockBoulder.ttf");
}
@font-face {
    font-family: Aurella;
    src: url("/assets/fonts/Aurella.ttf");
}
@font-face {
    font-family: Digital7;
    src: url("/assets/fonts/digital7.ttf");
}

/* Backdrop Images*/
.pageHome-backdrop-billboard {
    background-image: url("/assets/images/backdrops/2025.jpg");
    filter: brightness(75%);
}
.pageHome-backdrop-posters {
    background-image: url("/assets/images/backdrops/pageHome-posters.webp");
    filter: blur(1px) brightness(80%);
}
.pageHome-backdrop-tickets {
    background-image: url("/assets/images/backdrops/pageHome-tickets.webp");
    filter: blur(1px) brightness(80%);
}
.pageHome-backdrop-join {
    background-image: url("/assets/images/backdrops/pageHome-join.webp");
    filter: blur(1px);
}
.pageHome-backdrop-local_groups {
    background-image: url("/assets/images/backdrops/pageHome-local_groups.webp");
    filter: blur(1px);
}
.pageHome-backdrop-void {
    background-image: url("/assets/images/backdrops/pageHome-void.webp");
}
.pageHome-backdrop-crew {
    background-image: url("/assets/images/backdrops/pageHome-crew.webp");
    filter: blur(1px);
}
.pageMembers-backdrop-billboard {
    background-image: url("/assets/images/backdrops/pageMembers-billboard.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-title {
    background-image: url("/assets/images/backdrops/pageHistory-title.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void1 {
    background-image: url("/assets/images/backdrops/pageHistory-void1.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void2 {
    background-image: url("/assets/images/backdrops/pageHistory-void2.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void3 {
    background-image: url("/assets/images/backdrops/pageHistory-void3.webp");
    filter: blur(1px);
}
.pageHistory-backdrop-void4 {
    background-image: url("/assets/images/backdrops/pageHistory-void4.webp");
    filter: brightness(80%);
}