* {
    scroll-behavior: smooth;
}
html {
    height: 100%;
    box-sizing: border-box;
}
h1, h2, a, time {
    font-family: 'Fira Sans', Arial, sans-serif;
}
p, h3, h4, label, figcaption {
    font-family: 'Heebo', Arial, sans-serif;
}
body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    background-color: #111111;
}
figure {
    margin: 0;
}

/* Custom Scrollbar */
@media (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background: #af2d24;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #821e17;
    }
}