/* Page Configuration */

* {
    scroll-behavior: smooth;
}
html {
    height: 100%;
    box-sizing: border-box;
}
h1, h2, h4, h5, a, time {
    font-family: FiraSans, Arial, sans-serif;
}
p, h3, h6, label, figcaption, div {
    font-family: Heebo, Arial, sans-serif;
}
body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    background-color: #111111;
}
figure {
    margin: 0;
}

/* Default Elements*/
.parallax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
    width: 100%;
}
.backdrop {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateZ(-5px) scale(1.5);
    position: absolute;
    width: calc(100% + 10px);
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.mid-backdrop {
    transform: translateZ(-2.25px) scale(1.25);
    width: 100%;
    z-index: 0;
}
.section {
    position: relative;
    background: linear-gradient(#171717, #212123, #171717);
    min-height: 500px;
    padding: 30px 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 900px) {
    .section {
        flex-direction: column;
        justify-content: center;
    }
}
.void {
    width: 100%;
    min-height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    width: 75%;
    border-radius: 50px;
    padding: 30px;
    position: relative;
}
@media (max-width: 700px) {
    .container {
        flex-direction: column;
    }
}
.button {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 12.5rem;
    height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;

    color: white;
    border: solid #af2d24 5px;
}
.button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;
}
.caption {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
     background-color: rgba(21,21,23,0.7);
     height: auto;
     border-radius: 5px;

     padding: 0.3rem;
     font-size: 1rem;
     color: darkgray;

     position: absolute;
     bottom: 10px;
     right: 5px;
 }
.anchor {
    position: absolute;
    top: -80px;
}

/* Text Presets */

h2 {
    color: red;
    font-size: 3rem;

    font-weight: 900;
    margin: 0;

    align-self: start;
}
h3 {
    color: darkgray;
    font-size: 1.5rem;

    font-weight: 900;
    margin: 0;

    align-self: start;
}
h4 {
    color: white;
    font-size: 2rem;

    font-weight: 900;
    margin: 0;

    align-self: center;
}
h5 {
    color: darkgray;
    font-size: 1.25rem;

    font-weight: 900;
    margin: 0;

    align-self: start;
}
h6 {
    color: darkgray;
    font-size: 1.125rem;
}
p {
    color: darkgray;
    font-size: 1.25rem;
}
p a {
    color: darkgrey;
}
figcaption {
    color: darkgray;
    font-size: 1em;
}
@media (max-width: 1100px) {
    h2 {
        font-size: 1.75rem;
    }
    h3 {
        font-size: 1.25rem;
    }
    h4 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    figcaption {
        font-size: 0.875rem;
    }
}


/* Custom Scrollbar */
@media (min-width: 700px) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background: #111111;
    }
    ::-webkit-scrollbar-thumb {
        background: #af2d24;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #821e17;
    }
}