* {
    scroll-behavior: smooth;
}
html {
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    position: relative;
    min-height: 100%;
    box-sizing: inherit;
    margin: 0;
    background-color: #111111;
}
figure {
    margin: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #111111;
}
::-webkit-scrollbar-thumb {
    background: #af2d24;
}
::-webkit-scrollbar-thumb:hover {
    background: #821e17;
}