.pageHome-section-billboard,
.pageHome-section-posters,
.pageHome-section-tickets,
.pageHome-section-join,
.pageHome-section-local_groups,
.pageHome-section-void,
.pageHome-section-crew {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.pageHome-section-about,
.pageHome-section-history,
.pageHome-section-faq,
.pageHome-section-members,
.pageHome-section-links,
.pageHome-section-sponsors,
.pageHome-section-contact {
    position: relative;
    background: linear-gradient(#171717, #212123, #171717);
}
.pageHome-section-local_groups-container,
.pageHome-section-tickets-container,
.pageHome-section-join-container {
    position: relative;
}
.pageHome-anchor {
    position: absolute;
    top: -80px;
}


/*-------------------------------------
Section Sizing
---------------------------------------*/

/* Group 1 */
.pageHome-backdrop-billboard {
    height: 100%;
}
.pageHome-section-billboard {
    height: 90vh;
    top: -90vh;
}
.pageHome-section-about {
    margin-top: 90vh;
    height: auto;
}
@media (max-width: 600px) {
    .pageHome-section-billboard {
        height: 95vh;
        top: -95vh;
    }
    .pageHome-section-about {
        margin-top: 95vh;
    }
    @media (max-width: 475px) {
        .pageHome-section-billboard {
            height: 100vh;
            top: -100vh;
        }
        .pageHome-section-about {
            margin-top: 100vh;
        }
    }
}

/* Group 2 */
.pageHome-backdrop-posters {
    height: 100%;
}
.pageHome-section-posters {
    height: 18.75rem;
    top: -18.75rem;
}
.pageHome-section-history {
    height: auto;
    margin-top: 18.75rem;
}

/* Group 3 */
.pageHome-backdrop-tickets {
    height: 111%;
}
.pageHome-section-tickets {
    height: 45rem;
    top: -45rem;
}
.pageHome-section-faq {
    height: auto;
    margin-top: 45rem;
}

/* Group 4 */
.pageHome-backdrop-join {
    height: 100%;
}
.pageHome-section-join {
    height: 40.625rem;
    top: -40.625rem;
}
.pageHome-section-members {
    height: auto;
    margin-top: 40.625rem;
}

/* Group 5 */
.pageHome-backdrop-local_groups {
    height: 100%;
}
.pageHome-section-local_groups {
    height: 37.5rem;
    top: -37.5rem;
}
.pageHome-section-links {
    height: auto;
    margin-top: 37.5rem;
}

/* Group 6 */
.pageHome-backdrop-void {
    height: 100%;
}
.pageHome-section-void {
    height: 25rem;
    top: -25rem;
}
.pageHome-section-sponsors {
    height: auto;
    margin-top: 25rem;
}

/* Group 7*/
.pageHome-backdrop-crew {
    height: 100%;
}
.pageHome-section-crew {
    height: 50rem;
    top: -50rem;
}
.pageHome-section-contact {
    height: auto;
    margin-top: 50rem;
}


/*-------------------------------------
Section Code
---------------------------------------*/

/* Billboard */

.pageHome-section-billboard {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 40px;
}
.pageHome-section-billboard-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;

    background-color: rgba(21,21,23,0.7);
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 30px;
}
.pageHome-section-billboard h3 {
    color: white;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    margin: 12px;
}
#pageHome-section-billboard-container-countdown {
    font-size: 5.625rem;
    font-weight: bold;
    align-self: center;
    font-family: Digital7, 'Fira Sans', Arial, sans-serif;;
}
#pageHome-section-billboard-container-splash{
    position: absolute;
    bottom: 20px;
    right: 20px;
    transform: rotate(-20deg);
    z-index: 100;
}
.pageHome-section-billboard-container-splash-container {
    position: absolute;
    white-space: nowrap;
}
#pageHome-section-billboard-container-splash-text {
    position: relative;
    bottom: 0;
    right: 0;
    color: gold;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    transform: translateX(-50%) translateY(-50%);
    animation: infinite splashPulse 2s;
    z-index: 100;
}
@keyframes splashPulse {
    0% {
        font-size: 1rem;
    }
    50% {
        font-size: 1.25rem;
    }
    100% {
        font-size: 1rem;
    }
}
@media (max-width: 475px) {
    #pageHome-section-billboard-container-splash-text {
        font-size: 0.5rem;
    }
    @keyframes splashPulse {
        0% {
            font-size: 0.5rem;
        }
        50% {
            font-size: 0.75rem;
        }
        100% {
            font-size: 0.5rem;
        }
    }
}
.pageHome-section-billboard-container-units {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.pageHome-section-billboard h4,
.pageHome-section-billboard h4 a {
    color: white;
    font-size: 1.375rem;
    margin: 0;
    text-align: center;
}
.pageHome-section-billboard-container-units h4 {
    color: darkgray;
    font-size: 1.125rem;
    margin: 0;
    width: 70px;
}
.pageHome-section-billboard-scroll {
    background: black;
    border-radius: 50%;
    margin: 30px 10px;
    height: 3.125rem;
    width: 3.125rem;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 0 0 rgba(11, 11, 11, 1);
    transform: scale(1);
    animation: pulse 2s infinite;
}
.pageHome-section-billboard-scroll img {
    height: 1.875rem;
}
@keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(11, 11, 11, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px #111111;
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(11, 11, 11, 0);
    }
}
@media (max-width: 700px) {
    .pageHome-section-billboard h3 {
        font-size: 1.5rem;
    }
    #pageHome-section-billboard-container-countdown {
        font-size: 3.75rem;
    }
    .pageHome-section-billboard-container-units h4 {
        font-size: 0.9375rem;
        width: 60px;
    }
    @media (max-width: 475px) {
        #pageHome-section-billboard-container-countdown {
            font-size: 2.5rem;
        }
    }
}

/* About */
.pageHome-section-about {
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageHome-section-about h2 {
    font-family: MurderousDesire, 'Fira Sans', Arial, sans-serif;;
}
.pageHome-section-about-text {
    width: 55%;
}
.pageHome-section-about-images {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.pageHome-section-about-images-1 {
    border-radius: 5px;
    width: 70%;
    border: #171717 3px solid;
}
.pageHome-section-about-images-2 {
    border-radius: 20px;
    width: 80%;
    align-self: end;
    border: #171717 3px solid;
}
@media (max-width: 700px) {
    .pageHome-section-about {
        flex-direction: column;
    }
    .pageHome-section-about-text {
        width: 100%;
    }
    .pageHome-section-about-images {
        justify-content: space-between;
        width: 100%;
        height: auto;
    }
    .pageHome-section-about-images-1 {
        height: 100%;
        width: 100%;
    }
    .pageHome-section-about-images-2 {
        display: none;
    }
}

/* Posters */
.pageHome-section-posters {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* History */
.pageHome-section-history {
    padding: 30px 40px;
    background: linear-gradient(#171717, #212123, #171717);
    min-height: 450px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pageHome-section-history h2 {
    font-family: Grinched, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-history-images {
    width: 40%;
}
.pageHome-section-history-images img {
    width: 100%;
    border-radius: 15px;
    border: #171717 3px solid;
    filter: brightness(120%);
}
.pageHome-section-history-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 55%;
}
.pageHome-section-history-text-button {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 12.5rem;
    height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;

    color: white;
    border: solid #af2d24 5px;
}
.pageHome-section-history-text-button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;
}
@media (max-width: 900px) {
    .pageHome-section-history {
        flex-direction: column;
        justify-content: center;
    }
    .pageHome-section-history-images {
        width: 60%;
    }
    .pageHome-section-history-text {
        width: 70%;
    }
}

/* Tickets */
.pageHome-section-tickets {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHome-section-tickets-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    width: 75%;
    border-radius: 50px;
    padding: 30px;
}
.pageHome-section-tickets-container-text {
    width: 50%;
    height: 90%;
}
.pageHome-section-tickets-container-text time {
    font-size: 1.25rem;
    font-weight: 700;
    color: white;
    display: block;
}
.pageHome-section-tickets-container-images {
    width: 45%;
    height: 90%;
}
.pageHome-section-tickets-container-images img {
    max-width: 100%;
    border-radius: 20px;
    border: #171717 3px solid;
}
@media (max-width: 1100px) {
    .pageHome-section-tickets-container-text h2 {
        font-size: 1.75rem;
    }
    .pageHome-section-tickets-container-text p {
        font-size: 1rem;
    }
    .pageHome-section-tickets-container-text time {
        font-size: 1rem;
    }
    .pageHome-section-tickets-container-images figcaption {
        font-size: 1rem;
    }
}
@media (max-width: 850px) {
    .pageHome-section-tickets-container {
        height: 75%;
    }
}
@media (max-width: 700px) {
    .pageHome-section-tickets-container {
        flex-direction: column;
    }
    .pageHome-section-tickets-container-text {
        width: 100%;
    }
    .pageHome-section-tickets-container-images {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .pageHome-section-tickets-container-images img {
        width: 70%;
    }
    .pageHome-section-tickets-container-images figcaption {
        font-size: 0.875rem;
    }
}

/* FAQ */
.pageHome-section-faq {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 450px;
}
.pageHome-section-faq h2 {
    font-family: Secrets, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-tickets-container-text h2 { /*Tickets*/
    font-family: YouMurderer, 'Fira Sans', Arial, sans-serif;;
}
.pageHome-section-faq-images {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 40%;
}
.pageHome-section-faq-images img {
    width: 100%;
}
.pageHome-section-faq-text {
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.pageHome-section-faq-list-question-toggle {
    display: none;
}
.pageHome-section-faq-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pageHome-section-faq-list-question {
    width: 80%;
}
.pageHome-section-faq-list-question-title {
    width: 100%;
    display: inline-block;
    padding: 2.5rem 1.5625rem 0.625rem 1.5625rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: darkgray;
    text-decoration: underline;
}
.pageHome-section-faq-list-question-title-arrow {
    display: inline-block;
    transform: scale(1, 0.8) rotate(-90deg);;
    transition: all 0.15s ease-out;
}
.pageHome-section-faq-list-question-toggle:checked ~ .pageHome-section-faq-list-question-title .pageHome-section-faq-list-question-title-arrow {
    transform: rotate(0deg);
}
.pageHome-section-faq-list-question p {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    margin: 0 0 5px 75px;
    color: white;
    font-size: 1.25rem;
}
.pageHome-section-faq-list-question p a {
    color: white;
}
.pageHome-section-faq-list-question-toggle:checked ~ p {
    max-height: 1000px;
}
.pageHome-section-faq h3 {
    font-size: 1.25rem;
    color: darkgray;
    font-weight: normal;
    padding-top: 20px;
}
.pageHome-section-faq h3 a {
    color: darkgray;
}
@media (max-width: 1000px) {
    .pageHome-section-faq {
        flex-direction: column;
        align-items: start;
    }
    .pageHome-section-faq-text {
        width: 100%;
    }
    .pageHome-section-faq-images {
        padding-top: 10px;
        order: 2;
        align-self: center;
    }
    .pageHome-section-faq-list-question {
        width: 100%;
    }
    .pageHome-section-faq-list-question-title {
        padding-left: 0;
    }
    .pageHome-section-faq-list-question p {
        margin: 0 0 5px 0
    }
}
@media (max-width: 600px) {
    .pageHome-section-faq-images {
        min-height: 120px;
        width: 100%;
    }
}

/* Join */
.pageHome-section-join {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHome-section-join-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    width: 75%;
    border-radius: 50px;
    padding: 30px;
}
#pageHome-section-join-samImage {
    height: 6rem;
    width: 4rem;
    position: absolute;
    left: 0;
    bottom: 0;
}
.pageHome-section-join-container-text {
    width: 50%;
    height: 90%;
}
.pageHome-section-join-container-text p a {
    color: darkgray;
}
.pageHome-section-join-container-images {
    width: 45%;
    height: 90%;
}
.pageHome-section-join-container-images img {
    width: 100%;
    border-radius: 20px;
    border: #171717 3px solid;
}
.pageHome-section-join-container-text-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding: 0 40px;
}
.pageHome-section-join-container-text-buttons-button {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 12.5rem;
    min-height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;

    color: white;
    border: solid #af2d24 5px;
}
.pageHome-section-join-container-text-buttons-button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;;
}
.pageHome-section-join-container-text-contact {
    width: 100%;
    text-align: center;
}
.pageHome-section-join-container-text-contact a {
    color: white;
}
@media (max-width: 1175px) {
    .pageHome-section-join-container-text-buttons-button {
        font-size: 1.125rem;
    }

    .pageHome-backdrop-join {
        height: 43.75rem;
    }
    .pageHome-section-join {
        height: 43.75rem;
        top: -43.75rem;
    }
    .pageHome-section-members {
        height: auto;
        margin-top: 43.75rem;
    }
}
@media (max-width: 1100px) {
    .pageHome-section-join-container-text h2 {
        font-size: 1.75rem;
    }
    .pageHome-section-join-container-text p {
        font-size: 1rem;
    }
    .pageHome-section-join-container-images figcaption {
        font-size: 1rem;
    }
    .pageHome-section-join-container-text-buttons {
        padding: 0 25px;
        flex-direction: column;
        align-items: center;
    }
    .pageHome-section-join-container-text-buttons-button{
        width: 300px;
    }

    .pageHome-backdrop-join {
        height: 50rem;
    }
    .pageHome-section-join {
        height: 50rem;
        top: -50rem;
    }
    .pageHome-section-members {
        height: auto;
        margin-top: 50rem;
    }
}
@media (max-width: 700px) {
    .pageHome-section-join-container {
        flex-direction: column;
    }
    .pageHome-section-join-container-text {
        width: 100%;
    }
    .pageHome-section-join-container-images {
        justify-content: space-between;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        order: 2;
    }
    .pageHome-section-join-container-images img {
        width: 70%;
    }
    .pageHome-section-join-container-images figcaption {
        font-size: 0.875rem;
    }
    .pageHome-section-join-container-text-buttons {
        flex-direction: column;
    }
    .pageHome-section-join-container-text-buttons-button {
        width: 70%;
    }

    .pageHome-backdrop-join {
        height: 56.25rem;
    }
    .pageHome-section-join {
        height: 56.25rem;
        top: -56.25rem;
    }
    .pageHome-section-members {
        margin-top: 56.25rem;
    }
}

/* Members */
.pageHome-section-members {
    padding: 30px;
    background: linear-gradient(#171717, #212123, #171717);
    min-height: 450px;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.pageHome-section-members h2 {
    font-family: WhoopAss, 'Fira Sans', Arial, sans-serif;
    font-weight: 500;
}
.pageHome-section-join-container-text h2 { /* Join */
    font-family: Lovable, 'Fira Sans', Arial, sans-serif;;
}
.pageHome-section-members-images {
    width: 50%;
    display: flex;
    justify-content: center;
}
.pageHome-section-members-images img {
    width: 80%;
    border-radius: 15px;
    border: #171717 3px solid;
    filter: brightness(120%);
}
.pageHome-section-members-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 45%;
}
.pageHome-section-members-text-button {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 13.75rem;
    height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;

    color: white;
    border: solid #af2d24 5px;
}
.pageHome-section-members-text-button:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;;
}
@media (max-width: 900px) {
    .pageHome-section-members {
        flex-direction: column;
        justify-content: center;
    }
    .pageHome-section-members-images {
        width: 60%;
    }
    .pageHome-section-members-text {
        width: 70%;
    }
}

/* Local Groups */
.pageHome-section-local_groups {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHome-section-local_groups-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    width: 75%;
    border-radius: 50px;
    padding: 30px;
}
.pageHome-section-local_groups-container-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}
.pageHome-section-local_groups-container-grid h4 {
    font-weight: 700;
    color: white;
    text-align: center;
    margin: 10px 0;
}
@media (max-width: 900px) {

    .pageHome-section-local_groups-container-grid {
        grid-template-columns: 1fr 1fr;
    }
    .pageHome-section-local_groups-container-grid h3{
        margin: 5px 0;
    }
    .pageHome-backdrop-local_groups {
        height: 120%;
    }
    .pageHome-section-local_groups {
        height: 50rem;
        top: -50rem;
    }
    .pageHome-section-links {
        margin-top: 50rem;
    }
    @media (max-width: 650px) {
        .pageHome-section-local_groups-container-grid {
            grid-template-columns: 1fr;
        }
        .pageHome-section-local_groups-container-grid h3{
            margin: 2px 0;
        }
        .pageHome-backdrop-local_groups {
            height: 160%;
        }
        .pageHome-section-local_groups {
            height: 62.5rem;
            top: -62.5rem;
        }
        .pageHome-section-links {
            margin-top: 62.5rem;
        }
    }
}

/* Links */
.pageHome-section-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    min-height: 450px;
}
.pageHome-section-links h2 {
    font-family: Aurella, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-local_groups-container h2 { /* Local Groups */
    font-family: Ficticcia, 'Fira Sans', Arial, sans-serif;
    font-weight: 500;
}
.pageHome-section-links-grid {
    margin-top: 1.5rem;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10.3125rem, 1fr));
    grid-template-rows: repeat(auto-fit, 7.5rem)
}
.pageHome-section-links-grid-item {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 10px 10px;
}
.pageHome-section-links-grid-item h4 {
    margin: 0;
    text-align: center;
    font-weight: 500;
}
.pageHome-section-links-grid-item img {
    height: 5rem;
}
.pageHome-section-links-toggle {
    display: none;
}
.pageHome-section-links-toggle-title {
    width: 100%;
    display: none;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: darkgray;
    text-decoration: underline;
}
.pageHome-section-links-toggle-title-arrow {
    display: inline-block;
    transform: scale(1, 0.8) rotate(-90deg);;
    transition: all 0.15s ease-out;
}
.pageHome-section-links-toggle:checked ~ .pageHome-section-links-toggle-title .pageHome-section-links-toggle-title-arrow {
    transform: rotate(0deg);
}
@media (max-width: 1050px) {
    .pageHome-section-links-grid {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
    }

    .pageHome-section-links-toggle:checked ~ .pageHome-section-links-grid {
        max-height: 4000px;
    }

    .pageHome-section-links-toggle-title {
        display: inline-block;
    }
    @media (max-width: 400px) {
        .pageHome-section-links-grid {
            grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
        }
    }
}

/* Sponsors */
.pageHome-section-sponsors {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 450px;
}
.pageHome-section-sponsors h2 {
    font-family: RockBoulder, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-sponsors-grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(10.9375rem, 1fr));
    grid-template-rows: repeat(auto-fit, 10.9375rem);
}
.pageHome-section-sponsors-grid a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHome-section-sponsors-grid a img {
    width: 90%;
}
.pageHome-section-sponsors-toggle {
    display: none;
}
.pageHome-section-sponsors-toggle-title {
    width: 100%;
    display: none;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 700;
    color: darkgray;
    text-decoration: underline;
}
.pageHome-section-sponsors-toggle-title-arrow {
    display: inline-block;
    transform: scale(1, 0.8) rotate(-90deg);;
    transition: all 0.15s ease-out;
}
.pageHome-section-sponsors-toggle:checked ~ .pageHome-section-sponsors-toggle-title .pageHome-section-sponsors-toggle-title-arrow {
    transform: rotate(0deg);
}
@media (max-width: 625px) {
    .pageHome-section-sponsors-grid {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s;
    }
    .pageHome-section-sponsors-toggle:checked ~ .pageHome-section-sponsors-grid {
        max-height: 4000px;
    }
    .pageHome-section-sponsors-toggle-title {
        display: inline-block;
    }
}

/* Crew */
.pageHome-section-crew {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageHome-section-crew-container h5 {
    align-self: center;
    color: darkgrey;
    font-size: 1.25rem;
    text-align: center;
}
.pageHome-section-crew-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    width: 85%;
    border-radius: 50px;
    padding: 30px;
}
.pageHome-section-crew-container-grid {
    display: grid;
    grid-template-columns: 320px 320px 320px;
}
.pageHome-section-crew-container-grid-item h3 {
    text-align: center;
    color: white;
}
.pageHome-section-crew-container-grid-item h4 {
    text-align: center;
    margin: 5px 0;
}
@media (max-width: 1200px) {
    .pageHome-section-crew-container-grid {
        grid-template-columns: 320px 320px;
    }
    .pageHome-backdrop-crew {
        height: 62.5rem;
    }
    .pageHome-section-crew {
        height: 62.5rem;
        top: -62.5rem;
    }
    .pageHome-section-contact {
        margin-top: 62.5rem;
    }
    @media (max-width: 750px) {
        .pageHome-section-crew-container-grid {
            grid-template-columns: 320px;
        }
        .pageHome-backdrop-crew {
            height: 75rem;
        }
        .pageHome-section-crew {
            height: 75rem;
            top: -75rem;
        }
        .pageHome-section-contact {
            margin-top: 75rem;
        }
    }
}

/* Contacts */
.pageHome-section-contact {
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pageHome-section-contact-text {
    width: 60%;
    display: flex;
}
.pageHome-section-contact-text-emails {
    width: 50%;
}
.pageHome-section-contact-text-emails h2 {
    margin: 0 0 30px 0;
    font-family: Mistery, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-crew-container h2 { /* Crew */
    font-family: Eraser, 'Fira Sans', Arial, sans-serif;
}
.pageHome-section-contact-text-emails h3,
.pageHome-section-contact-text-socials h3 {
    margin: 30px 0 15px 0;
}
.pageHome-section-contact-text-emails a:hover,
.pageHome-section-contact-text-socials a:hover {
    color: #c2c2c2;
}
.pageHome-section-contact-text-emails a,
.pageHome-section-contact-text-socials a {
    color: white;
    font-size: 1.125rem;
    margin: 0;
}
.pageHome-section-contact-text-socials {
    width: 45%;
    padding-top: 39px;
}
.pageHome-section-contact-text-socials figure {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pageHome-section-contact-text-socials figure img {
    height: 3.125rem;
    padding: 0 15px;
}
.pageHome-section-contact-text-socials figure img:hover {
    filter: brightness(70%);
}
.pageHome-section-contact-images {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.pageHome-section-contact-images-top {
    width: 100%;
    display: flex;
    justify-content: center;
}
.pageHome-section-contact-images-img1 {
    width: 40%;
    border-radius: 5px;
    border: #171717 3px solid;
}
.pageHome-section-contact-images-img2 {
    width: 40%;
    border-radius: 5px;
    border: #171717 3px solid;
    margin-right: 20px;
}
.pageHome-section-contact-images-img3{
    width: 80%;
    border-radius: 5px;
    border: #171717 3px solid;
}
@media (max-width: 1100px) {
    .pageHome-section-contact {
        flex-direction: column;
    }
    .pageHome-section-contact-text {
        width: 100%;
        text-align: center;
    }
    .pageHome-section-contact-text-emails,
    .pageHome-section-contact-text-socials{
        width: 100%;
    }
    .pageHome-section-contact-text-socials {
        padding-top: 44px;
    }
    .pageHome-section-contact-images {
        width: 80%;
        margin-top: 20px
    }
    @media (max-width: 750px) {
        .pageHome-section-contact-text {
            flex-direction: column;
            align-items: start;
        }
        .pageHome-section-contact-text-socials {
            padding-top: 0;
        }
        .pageHome-section-contact-images-img1 {
            width: 40%;
        }
        .pageHome-section-contact-images-img2 {
            width: 40%;
        }
        .pageHome-section-contact-images-img3 {
            width: 100%;
        }
    }
}