/* Title */
.void-title {
    height: 90vh;
}
.void-title .container {
    flex-direction: column;
    background-color: rgba(21,21,23,0.7);
}
.void-title .container h2 {
    align-self: center;
    font-size: 3rem;
}
.void-title .container p {
    text-align: center;
}

/* Shows */
.section-shows {
    flex-direction: column;
}
.section-shows p {
    align-self: start;
}
#pinned-shows {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-top: 3rem;
}
#pinned-shows .pinned-heading {
    position: absolute;
    top: -2rem;
    left: -3rem;
    font-size: 2rem;
}
#pinned-shows .item-title {
    font-size: 1.25rem;
}
#pinned-shows .item-year {
    font-size: 1rem;
}
#pinned-shows .item-poster {
    height: 20rem;
}
.section-shows .shows-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding: 1rem 1.5rem 0 1.5rem;
    cursor: pointer;
}
.section-shows .show-item:hover {
    filter: brightness(110%);
}
.section-shows .shows-item .item-poster {
    height: 15rem;
}
#shows-grid .shows-item .item-poster {
    max-width: 10.9375rem;
}
.section-shows .shows-item .item-title {
    margin: 0;
    align-self: center;
    font-size: 1rem;
    text-align: center;
}
.section-shows .shows-item .item-year {
    margin: 0;
    align-self: center;
    font-size: 0.8rem;
    text-align: center;
    color: grey;
}
#shows-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(11.9375rem, 1fr));
    grid-auto-rows: 20rem;
    width: 100%;
    padding-top: 1rem;
    max-height: 40rem;
    overflow: hidden;
    transition: max-height 0.15s
}
.section-shows .more-positioner {
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#more-shows {
    text-align: center;
    display: inline;
    text-decoration: none;
    box-sizing: border-box;

    font-size: 1.25rem;
    width: 13.75rem;
    height: 4rem;
    padding: 0.9375rem;
    border-radius: 10px;
    margin-top: 1rem;

    color: white;
    border: solid #af2d24 5px;
}
#more-shows:hover {
    text-decoration: underline;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
    border: solid #821e17 3px;
    padding-top: 1.125rem;;
}
@media (max-width: 1100px) {
    #pinned-shows .pinned-heading {
        font-size: 1.5rem;
        left: -2rem;
    }
    #pinned-shows .shows-item .item-title {
        font-size: 1rem;
    }
    #pinned-shows .shows-item .item-year {
        font-size: 0.75rem;
    }
    @media (max-width: 700px) {
        #pinned-shows .pinned-heading {
            left: -1.5rem;
        }
        #pinned-shows .shows-item .item-poster {
            height: 15rem;
        }
        @media (max-width: 500px) {
            #pinned-shows {
                flex-direction: column;
            }
            #pinned-shows .shows-item {
                padding-bottom: 2.5rem;
            }
            .section-shows .shows-item .item-poster {
                height: 12rem;
            }
            #shows-grid {
                max-height: 34rem;
                grid-auto-rows: 17rem;
            }
        }
    }
}

/* Shows Popups*/
.shows-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.15s;
}
.shows-popup .popup-blur {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 254;
    backdrop-filter: blur(2px);
}
.shows-popup .crate-content {
    z-index: 255;
    width: 56rem;
    max-width: 90vw;
    background-color: rgba(21,21,23,0.7);
    border-radius: 10px;
    padding: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shows-popup .popup-close {
    position: absolute;
    top: -5px;
    right: 10px;
    cursor: pointer;
    font-size: 3rem;
    color: red;
}
.shows-popup .popup-close:hover {
    filter: brightness(75%);
}
.shows-popup .popup-poster {
    width: 45%;
}
.shows-popup .crate-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
}
.shows-popup .popup-title {
    color: red;
    font-size: 2rem;
    display: flex;
}
.shows-popup .popup-dvd {
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
}
.shows-popup .popup-dvd .dvd-icon {
    height: 1.6rem;
}
.shows-popup .popup-dvd .dvd-label {
    position: absolute;
    font-size: 0.7rem;
    top: -0.8rem;
    left: -3.3rem;
    color: white;
    opacity: 0;
    transition: opacity 0.15s;
    white-space: nowrap;
}
.shows-popup .popup-dvd:hover .dvd-label {
    opacity: 100;
}
.shows-popup .popup-year {
    margin: 0;
    font-size: 1.2rem;
    color: grey;
    align-self: start;
}
.shows-popup .popup-description {
    margin: 1rem 0 0 0;
    font-size: 1.3rem;
    color: darkgrey;
    align-self: start;
    line-height: 1.5rem;
}
.shows-popup .popup-button {
    width: 13.75rem;
    margin-top: 1rem;
}
@media (max-width: 650px) {
    .shows-popup .crate-content {
        flex-direction: column;
        width: 90%;
        justify-content: normal;
    }
    .shows-popup .popup-poster {
        width: 60%;
    }
    .shows-popup .crate-info {
        width: 100%;
        align-items: center;
    }
    .shows-popup .popup-title {
        font-size: 1.5rem;
        align-self: center;
        text-align: center;
    }
    .shows-popup .popup-dvd .dvd-icon {
        height: 1.3rem;
    }
    .shows-popup .popup-year {
        font-size: 1rem;
        align-self: center;
        text-align: center;
    }
    .shows-popup .popup-description {
        font-size: 1.2rem;
        align-self: center;
        text-align: center;
        line-height: 1.4rem;
    }
}