/* Title */
.panel-title {
    padding-top: 70px;
    height: 90vh;
}
.panel-title .container {
    flex-direction: column;
    background-color: rgba(21,21,23,0.7);
}
.panel-title .container h2 {
    align-self: center;
    font-size: 3rem;
    text-align: center;
}
.panel-title .container p {
    text-align: center;
}

/* Roles */
.panel-roles {
    flex-direction: column;
    justify-content: space-around;
    position: relative;
}
#samImage {
    height: 6rem;
    width: 4rem;
    rotate: -90deg;
    position: absolute;
    right: 0;
    bottom: 0;
}
.panel-roles .crate-roles {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.panel-roles .crate-roles .role {
    width: 30rem;
}
.panel-roles .crate-roles .role h3 {
    text-align: center;
    font-size: 2rem;
}
.panel-roles .crate-roles .role h4 {
    text-align: center;
    font-size: 1.5rem;
}