.pageMembers-section-billboard {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
}
.pageMembers-section-socials {
    position: relative;
    background: linear-gradient(#171717, #212123, #171717);
    min-height: 450px;
    padding: 30px;
    box-sizing: border-box;
}
.pageMembers-section-billboard-container {
    position: relative;
}
.pageMembers-anchor {
    position: absolute;
    top: -80px;
}

/*-------------------------------------
Section Sizing
---------------------------------------*/

/* Group 1 */
.pageMembers-backdrop-billboard {
    height: 100%;
}
.pageMembers-section-billboard {
    height: 90vh;
    top: -90vh;
}
.pageMembers-section-socials {
    height: auto;
    margin-top: 90vh;
}

/*-------------------------------------
Section Code
---------------------------------------*/

/* Title */
.pageMembers-section-billboard {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pageMembers-section-billboard-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(21,21,23,0.9);
    height: auto;
    border-radius: 50px;
    padding: 30px;
}
.pageMembers-section-billboard-container h2 {
    align-self: center;
    font-size: 3rem;
}