.pageLogin {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.pageLogin-backdrop {
    filter: blur(1px) brightness(80%);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    min-width: 100%;
}
#pageLogin-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: rgba(21,21,23,0.8);
    border-radius: 50px;
    padding: 30px;
    z-index: 2;
    position: relative;
}
#pageLogin-container h2 {
    align-self: start;
    font-size: 3.5rem;
}
#pageLogin-container label {
    align-self: start;
    font-size: 1.75rem;
    font-weight: 700;
    color: darkgray;
}
.pageLogin-container-input {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
}
#pageLogin-container-input-password {
    background-color: #212123;
    color: white;
    font-size: 1.25rem;
    min-width: 300px;
    width: 500px;
    height: 2.5rem;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 0;
}
.pageLogin-container-input-submit {
    border-radius: 0 5px 5px 0;
    padding: 0 7px;
    border-width: 0 0 0 1px;
    box-sizing: border-box;
    color: darkgray;
    background-color: #212123;
    height: 3rem;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}
@media (max-width: 630px) {
    #pageLogin-container {
        width: 90%;
    }
    #pageLogin-container-input-password {
        width: 100%;
        border-radius: 5px;
    }
    .pageLogin-container-input-submit {
        border-radius: 5px;
        border: solid #af2d24 5px;
        margin-top: 10px;
        height: 3rem;
        font-size: 1.5rem;
        padding: 0 0.9375rem;
    }
    .pageLogin-container-input-submit:hover {
        border: solid #821e17 3px;
    }
    .pageLogin-container-input {
        flex-direction: column;
    }
}
.pageLogin-container-input-submit {
    
}
.pageLogin-container-input-submit:hover {
    color: white;
    background: linear-gradient(to right, #af2d24, #821e17, #af2d24);
}
#pageLogin-container-incorrect {
    color: white;
    font-size: 0.9rem;
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: none;
}